.info-inner {
  padding-top: 39px;
  padding-bottom: 12px;

  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: @white;

  &--foto {
    padding-top: 39px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
  }

  &--video {
    padding-top: 33px;
    padding-bottom: 21px;
    padding-left: 21px;
    padding-right: 22px;
    border-bottom: none;
  }

  &--review {
    padding-top: 38px;
    padding-bottom: 3px;
    padding-left: 22px;
    padding-right: 22px;
  }
}

.info-inner__title {
  .title();
}

.info-inner__text {
  width: 100%;
  padding-top: 12px;
  line-height: 24px;
  color: #333333;
}

.info-inner__error,
.info-inner__message {
  display: none;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  padding-bottom: 35px;
  margin-bottom: 46px;
  position: fixed;
  width: 320px;
  top: 24%;
}

.info-inner--show {
  display: block;
}

.info-inner__text--error,
.info-inner__text--message {
  display: block;
  width: 67%;
  margin: 14px auto 23px;
}

.info-inner__message {
  padding-top: 43px;
  padding-bottom: 0;
}

.info-inner__text--message {
  padding-bottom: 11px;
}

.info-inner__wrapper-color {
  background-color: #f2f2f2;
  padding: 6.25%;
}

@media (min-width: @tablet-width) {
  .info-inner {
    padding-top: 74px;
    padding-bottom: 46px;
    border-bottom: none;
  }

  .info-inner__title {
    .title(30px;);
  }

  .info-inner__text {
    width: 64%;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .info-inner__text--foto {
    margin-bottom: 23px;
  }

  .info-inner__text--video {
    width: 70%;
    margin-top: 14px;
    margin-bottom: 27px;
  }

  .info-inner--video {
    padding-top: 67px;
  }

  .info-inner__message {
    width: 640px;
    margin: 15px auto 35px;
    padding-top: 62px;
    padding-bottom: 0;
    top: 25%;
    left: 50%;
    margin-left: -320px;
  }

  .info-inner__text--message {
    width: 65%;
    margin-bottom: 23px;
  }

  .info-inner__wrapper-color {
    padding: 6.9%;
  }

  .info-inner__error {
    width: 400px;
    margin: auto;
    padding-top: 57px;
    padding-bottom: 49px;
    left: 50%;
    top: 30%;
    margin-left: -200px;
  }
}

@media (min-width: @desktop-width) {
  .info-inner {
    padding-top: 110px;
  }

  .info-inner--review {
    padding-bottom: 31px;
  }

  .info-inner__text {
    width: 43%;
  }

  .info-inner--foto {
    padding-bottom: 47px;
  }

  .info-inner__text--video {
    width: 58%;
    margin-bottom: 64px;
  }

  .info-inner--video {
    padding-top: 71px;
    padding-bottom: 7px;
  }

  .info-inner__message {
    padding-top: 62px;
  }

  .info-inner__text--message {
    width: 64.7%;
  }

  .info-inner__error {
    padding-top: 55px;
  }
}
