.banner {
  background-color: #ddebf4;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position: center;
  background-repeat: no-repeat;

  &__image--start {
    padding-top: 50px;
    padding-bottom: 85px;
  }

  &__image--inner {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
