.button-form {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: @grey-blue;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: @white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: @blue-hover;
  }

  &:active {
    background-color: @blue-active;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: @grey-disabled;
  }
}

.button-form__popup {
  font-size: 18px;
}

@media (min-width: @tablet-width) {
  .button-form__popup {
    font-size: 21px;
  }
}
