.form-review {
  display: flex;
  flex-wrap: wrap;
}

.form-review__item {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 21px;
  width: 100%;

  border: none;
  border-bottom: 1px solid #e5e5e5;

  &:nth-child(5) {
    border-bottom: none;
  }

  &--name {
    padding-bottom: 5px;
    padding-top: 19px;
  }

  &--feedback {
    padding-bottom: 16px;
  }

  &--opinion {
    padding-bottom: 0;
  }

  &--full {
    padding-top: 17px;
    padding-bottom: 14px;
  }
}

.form-review__item--showplace {
  padding-top: 18px;
  padding-bottom: 9px;
}

.form-review__title {
  .title();
  padding-top: 18px;
  text-align: center;
  font-weight: bold;
  margin: auto;
}

.form-review__title--name {
  padding-bottom: 2px;
}

.form-review__contact {
  display: flex;
  align-items: baseline;
  line-height: 26px;
  color: #333333;

  &--feedback {
    margin-bottom: 6px;
    margin-left: 22px;
  }
}

.form-review__input {
  margin-bottom: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 17px;
  padding-right: 9px;

  .title();
  font-weight: bold;
  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;

  &--name {
    width: 50%;
    margin-left: 14px;
    flex-grow: 1;
  }

  &--full {
    width: 158px;
  }

  &--feedback {
    margin-bottom: 0;
    width: 222px;
    height: 58px;
    padding-right: 10px;
    box-sizing: border-box;
  }
}

.form-review__input::placeholder {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
}

.form-review__input::-moz-placeholder,
.form-review__description::-moz-placeholder {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  opacity: 1;
}

.form-review__input::-webkit-input-placeholder,
.form-review__description::-webkit-input-placeholder {
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
}

.form-review__input:-ms-input-placeholder {
  color: #000000;
}

.form-review__input:hover {
  background-color: #e5e5e5;
  border: 4px solid #e5e5e5;
}

.form-review__input:active,
.form-review__input:focus {
  background-color: @white;
  border: 4px solid #e5e5e5;
}

.form-review__text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-left: 79px;
  margin-top: 17px;
  margin-bottom: 43px;

  .title();
  text-transform: none;
  font-weight: bold;
}

.form-review__text--opinion {
  position: relative;
  cursor: pointer;
}

.form-review__title--showplace {
  margin: auto;
  padding-bottom: 9px;
  padding-top: 0;
}

.form-review__select + label::before {
  content: "";
  position: absolute;
  display: block;
  width: 55px;
  height: 55px;
  left: 0;
  top: -14px;

  background-color: @white-grey;
  border-radius: 50%;
}

.form-review__select:checked + label::after {
  content: "";
  position: absolute;
  display: block;
  left: 18px;
  top: 4px;
  width: 20px;
  height: 20px;

  background-color: @black-grey;
  border-radius: 50%;
}

.form-review__text--showplace {
  position: relative;
  padding-top: 22px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  margin-top: 0;

  cursor: pointer;
}

.form-review__label--showplace::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 8px;
  width: 56px;
  height: 56px;
  border-radius: 10%;
  background-color: @white-grey;
}

.form-review__select--showplace:checked + .form-review__label--showplace::after {
  content: url("../img/icon-tick.svg");
  position: absolute;
  display: block;
  left: 17px;
  top: 26px;
}

.form-review__select:hover + label::before,
.form-review__select:focus + label::before,
.form-review__select--showplace:hover + .form-review__label--showplace::before,
.form-review__select--showplace:focus + .form-review__label--showplace::before {
  background-color: @grey-border;
}

.form-review__select:active + label::before,
.form-review__select--showplace:active + .form-review__label--showplace::before {
  background-color: #d5d5d5;
}

.form-review__select:active + label::after,
.form-review__select--showplace:active + .form-review__label--showplace::after {
  opacity: 0.3;
}

.form-review__description {
  padding-top: 11px;
  padding-bottom: 37px;
  padding-left: 17px;
  padding-right: 7px;
  box-sizing: border-box;
  resize: none;
  width: 99.7%;

  border: 4px solid #f2f2f2;
  background-color: #f2f2f2;
  .title();
  font-weight: bold;

  &::placeholder {
    color: #000000;
    font-family: "PT Sans", "Arial", sans-serif;
  }
}

.form-review__description:hover {
  background-color: @grey-border;
  border: 4px solid @grey-border;
}

.form-review__description:focus,
.form-review__description:active {
  background-color: @white;
  border: 4px solid #e5e5e5;
}

.form-review__description--full {
  display: block;
  height: 160px;
}

.form-review__text--required {
  display: none;
}

.form-review__btn-wrapper {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 37px;
}

.form-review__button {
  display: block;
  width: 100%;
  margin-top: 36px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.form-review__tel,
.form-review__email {
  position: relative;
  margin-bottom: 12px;
}

.form-review__icon--tel::after,
.form-review__icon--email::after {
  position: absolute;
  height: 58px;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  background-color: #e6e6e6;
}

.form-review__icon--tel::after {
  content: url("../img/icon-phone.svg");
  padding: 20px 20px 14px 20px;
}

.form-review__icon--email::after {
  content: url("../img/icon-mail.svg");
  padding: 22px 21px 14px 21px;
}

.form-review__btn-error {
  width: 56%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.form-review__btn-message {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.form-review__input--error {
  border: 4px solid tomato;
}

.form-review__input--error:hover + .form-review__icon::after,
.form-review__input--error:focus + .form-review__icon::after,
.form-review__input--error:active + .form-review__icon::after {
  border-left: none;
}

@media (min-width: @tablet-width) {
  .form-review {
    margin-left: 60px;
    margin-right: 60px;
  }

  .form-review__item {
    border-bottom: none;
    padding-right: 0;
    padding-left: 0;
  }

  .form-review__item--name,
  .form-review__item--opinion {
    padding-bottom: 34px;
    width: 50%;
  }

  .form-review__item--name {
    position: relative;
  }

  .form-review__item--name::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -1px;
    width: 1px;
    height: 76%;
    background-color: @grey-border;
  }

  .form-review__title {
    .title(21px;);
    font-weight: bold;
    margin: 0 auto;
  }

  .form-review__title--name,
  .form-review__title--opinion {
    text-align: start;
  }

  .form-review__title--opinion {
    margin-left: 0;
  }

  .form-review__title--name {
    margin-left: 57px;
    margin-bottom: 36px;
  }

  .form-review__item--name .form-review__input--name {
    width: 50%;
  }

  .form-review__text {
    margin-top: 52px;
    margin-bottom: 52px;
  }

  .form-review__contact {
    padding: 0;
    margin-left: 58px;
  }

  .form-review__item--opinion {
    order: -1;
  }

  .form-review__item--feedback {
    padding-bottom: 30px;
    width: 100%;
    border-top: 1px solid @grey-border;
  }

  .form-review__title--feedback {
    padding: 0;
    padding-left: 59px;
    padding-right: 59px;
  }

  .form-review__contact--feedback {
    margin-left: 22px;
    margin-top: 3px;
  }

  .form-review__input--feedback {
    padding-right: 15px;
    width: 590px;
    box-sizing: border-box;
  }

  .form-review__email,
  .form-review__tel {
    margin-bottom: 24px;
  }

  .form-review__wrapper--showplace {
    display: flex;
    flex-wrap: wrap;
    padding-left: 14.8%;
  }

  .form-review__item--showplace {
    position: relative;
    padding-bottom: 43px;
    padding-top: 0;
    width: 100%;
  }

  .form-review__title--showplace {
    padding-bottom: 34px;
    width: 50%;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 24px;
      height: 1px;
      background-color: @grey-border;
    }
  }

  .form-review__title--showplace::before {
    left: 0;
    width: 19.5%;
  }

  .form-review__title--showplace&::after {
    width: 19%;
    right: 0;
  }

  .form-review__text--showplace {
    margin-bottom: 24px;
    margin-right: 16px;
    margin-top: 0;
    padding-left: 79px;
    width: 44%;
  }

  .form-review__text--opinion {
    padding-left: 75px;
  }

  .form-review__item--full {
    width: 100%;
    padding-bottom: 0;
    border-top: 1px solid @grey-border;
  }

  .form-review__title--full {
    padding: 0 76px;
  }

  .form-review__description--full {
    margin-top: 41px;
    margin-bottom: 22px;
    width: 100%;
  }

  .form-review__btn-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 62px;
    margin-right: 0;
    margin-left: 0;
  }

  .form-review__text--required {
    display: block;
    line-height: 26px;
    color: @black-grey;
  }

  .form-review__button {
    width: 50%;
    padding-right: 17px;
    margin-left: 0;
  }

  .form-review__btn-message {
    width: 83%;
  }

  .info-inner__title--error {
    width: 69.25%;
    display: block;
    margin: auto;
    line-height: 40px;
  }

  .info-inner__text--error {
    width: 69.25%;
    margin-top: 12px;
    margin-bottom: 32px;
  }

  .form-review__btn-error {
    width: 68%;
  }
}

@media (min-width: @desktop-width) {
  .form-review {
    margin-left: 120px;
    margin-right: 120px;
  }

  .form-review__title--opinion {
    margin-left: 77px;
    margin-right: 25px;
  }

  .form-review__text--opinion {
    margin-left: 4px;
  }

  .form-review__title--name {
    margin-left: 78px;
    margin-right: 25px;
  }

  .form-review__contact {
    margin-left: 80px;
  }

  .form-review__item--name,
  .form-review__item--opinion {
    padding-bottom: 31px;
  }

  .form-review__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;

    &--feedback {
      padding-top: 54px;
      padding-bottom: 9px;
    }
  }

  .form-review__tel .form-review__input--feedback {
    width: 257px;
  }

  .form-review__contact--del {
    display: none;
  }

  .form-review__tel,
  .form-review__email {
    display: flex;
    width: 50%;
  }

  .form-review__tel {
    width: 41.8%;
  }

  .form-review__email {
    margin-left: auto;
  }

  .form-review__contact--feedback {
    margin: 0;
    margin-right: 17px;
    align-items: center;
  }

  .form-review__email .form-review__input--feedback {
    width: 259px;
    margin-right: 0;
    flex-shrink: 30;
  }

  .form-review__title--showplace {
    width: 42%;
    padding: 0;
    padding-bottom: 33px;
  }

  .form-review__item--feedback {
    padding-bottom: 21px;
  }

  .form-review__item--showplace {
    padding-bottom: 41px;
  }

  .form-review__text--showplace {
    width: 21.3%;
    padding-left: 80px;
    margin-right: 55px;

    &:nth-child(4n+3) {
      margin-right: 32px;
    }

    &:nth-child(4n+4) {
      margin-right: 0;
    }
  }

  .form-review__description--full {
    margin-top: 41px;
    margin-bottom: 21px;
  }

  .form-review__btn-wrapper {
    margin-bottom: 61px;
  }

  .form-review__button {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 6px;
  }
}
