.info-inner {
  padding-top: 39px;
  padding-bottom: 12px;

  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  &--foto {
    padding-left: 24px;
    padding-right: 24px;
  }

  &--review {
    padding-left: 23px;
    padding-right: 23px;
  }

  &__title {
    .title();
  }

  &__text {
    padding-top: 12px;
    line-height: 24px;
  }
}
