.info {
  margin: 0;

  text-align: center;

  &--grey {
    position: relative;
    padding-top: 26px;
    padding-bottom: 29px;
    padding-left: 37px;
    padding-right: 37px;

    background-color: @grey;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 20px;
      width: 87%;
      height: 1px;
      background-color: #d6d6d6;
    }

    &:last-child::after {
      display: none;
    }
  }

  &--grey:last-child {
    border-bottom: none;
  }
}

.info__blue {
  background-color: @grey-blue;
  color: @white;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 40px;

  &--first {
    padding-top: 77px;
    padding-bottom: 40px;
  }

  &--other {
    padding-top: 39px;
    padding-bottom: 39px;
  }
}

.info__title {
  .title();
}

.info__number {
  margin: 0;
  padding-bottom: 15px;
  padding-top: 9px;
}

.info__text {
  margin: 0;
}

@media (max-width: 767px) {
  .info__blue--first {
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
  }

  .info__title--blue br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .info {
    width: 33.33%;
    box-sizing: border-box;
  }

  // .info__blue {
  //   width: 33.33%;
  //   box-sizing: border-box;

  .info__blue--first {
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 46px;
  }

  .info__blue--other {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
    order: 1;
  }

  .info__text--blue {
    padding-top: 6px;
  }

  .info__title {
    display: block;
    .title (21px;);
  }

  .info--grey {
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 158px;
    padding-right: 49px;
    padding-left: 49px;
    padding-top: 44px;
    padding-bottom: 44px;
    flex-grow: 1;

    &::after {
      display: none;
    }

    &:nth-child(3) {
      // width: 132px;
      padding-left: 62px;
      padding-right: 62px;
    }
  }

  .info__text--grey {
    margin-top: 8px;
  }
}

@media (min-width: @desktop-width) {
  .info__blue--first {
    padding-top: 53px;
    padding-left: 55px;
    padding-right: 55px;
  }

  .info__text {
    padding-top: 7px;
  }

  .info__title {
    display: block;
    padding-left: 46px;
    padding-right: 46px;
  }

  .info__blue--other {
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 54px;
  }

  .info__text--blue-other {
    padding-left: 13px;
    padding-right: 13px;
  }

  .info--grey {
    width: 285px;
    padding-left: 57px;
    padding-right: 58px;

    &:nth-child(3) {
      width: 262px;
      padding-left: 69px;
      padding-right: 69px;
      padding-bottom: 67px;
    }
  }

  .info__title--grey {
    display: block;
    width: 159px;
  }

  .info__text--grey {
    margin-top: 1px;
  }
}
