.info-start {
  text-align: center;

  &--white {
    padding-top: 40px;
    padding-bottom: 27px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.info-start__title {
  font-size: 18px;
  line-height: 26px;
}

.info-start__text {
  margin: 0;
  padding-top: 27px;

  line-height: 26px;
}
