.player {
  position: relative;
  padding-bottom: 39px;
}

.player__top {
  position: absolute;
  top: -45px;
  left: 50%;
  margin-left: -43.75%;
  width: 87.5%;
  height: 45px;

  background-color: #000000;
  opacity: 0.6;

  &::before {
    content: "";
    display: block;
    width: 83.4%;
    height: 3px;
    margin: auto;
    margin-top: 22px;
    background-color: @white;
    opacity: 0.2;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 21%;
    top: 19px;
    width: 9px;
    height: 9px;

    border-radius: 50%;
    background-color: @white;
    cursor: pointer;
  }
}

.player__bottom {
  display: flex;
  flex-wrap: wrap;
  width: 87.5%;
  height: 66px;
  background-color: #f2f2f2;
  margin: auto;
}

.player__button {
  border: none;
  background-color: transparent;

  cursor: pointer;
}

.player__button--icon-replay,
.player__button--icon-cc,
.player__button--icon-fullscreen {
  fill: @grey-player;
}

.player__button:hover .player__button--icon-replay,
.player__button:hover .player__button--icon-cc,
.player__button:hover .player__button--icon-fullscreen,
.player__button:focus .player__button--icon-replay,
.player__button:focus .player__button--icon-cc,
.player__button:focus .player__button--icon-fullscreen {
  fill: @black-grey;
}

.player__button:active .player__button--icon-replay,
.player__button:active .player__button--icon-cc,
.player__button:active .player__button--icon-fullscreen {
  opacity: 0.3;
}

.player__replay {
  margin-left: 6.9%;
}

.player__cc {
  margin-left: auto;
  margin-right: 6.9%;
}

.player__full-screen {
  margin-right: 6%;
}

@media (min-width: @tablet-width) {
  .player {
    padding-bottom: 41px;
  }

  .player__top {
    width: 100%;
    height: 93px;
    top: -93px;
    left: 0;
    margin-left: 0;

    &::before {
      margin-top: 46px;
      width: 60%;
      margin-left: 14%;
    }

    &::after {
      top: 43px;
      left: 32%;
    }
  }

  .player__bottom {
    position: absolute;
    top: -78px;
    width: 100%;
    background-color: transparent;
  }

  .player__button--icon-replay,
  .player__button--icon-cc,
  .player__button--icon-fullscreen {
    fill: @white;
  }

  .player__button:hover .player__button--icon-replay,
  .player__button:hover .player__button--icon-cc,
  .player__button:hover .player__button--icon-fullscreen,
  .player__button:focus .player__button--icon-replay,
  .player__button:focus .player__button--icon-cc,
  .player__button:focus .player__button--icon-fullscreen {
    fill: @white;
    opacity: 0.6;
  }

  .player__button:active .player__button--icon-replay,
  .player__button:active .player__button--icon-cc,
  .player__button:active .player__button--icon-fullscreen {
    opacity: 0.3;
  }

  .player__replay {
    margin-left: 4.5%;
  }

  .player__full-screen {
    margin-right: 5.3%;
  }

  .player__cc {
    margin-right: 3%;
  }
}

@media (min-width: @desktop-width) {
  .player {
    padding-bottom: 22px;
  }

  .player__top {
    top: -156px;

    &::before {
      width: 67%;
      margin-left: 12%;
    }

    &::after {
      top: 43px;
      left: 25.8%;
    }
  }

  .player__bottom {
    top: -141px;
  }

  .player__replay {
    margin-left: 3.5%;
  }

  .player__full-screen {
    margin-right: 4.5%;
  }

  .player__cc {
    margin-right: 2.5%;
  }
}
