.recommendations__list {
  padding: 0;
  padding-top: 35px;
  padding-bottom: 9px;
  margin: 0;

  list-style: none;
}

.recommendations__item {
  padding-left: 70px;
  padding-right: 40px;
  padding-bottom: 28px;
}

.recommendations__title {
  margin: 0;
  padding-bottom: 14px;

  .title();
}

.recommendations__description {
  margin: 0;
}
