.recommendations {
  &__list {
    padding: 0;
    padding-top: 29px;
    padding-bottom: 9px;
    margin: 0;

    list-style: none;
  }

  &__item {
    padding-left: 70px;
    padding-right: 40px;
    padding-bottom: 28px;
  }

  &__title {
    margin: 0;
    padding-bottom: 14px;

    .title();
  }

  &__description {
    margin: 0;
  }
}
