.recommendations__list {
  position: relative;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 9px;
  margin: 0;

  list-style: none;
}

.recommendations__item {
  padding-left: 70px;
  padding-right: 40px;
  padding-bottom: 28px;

  &::before {
    // content: url("../img/icon-house.svg");
    position: absolute;
  }
}

.recommendations__title {
  margin: 0;
  padding-bottom: 14px;

  .title();
}

.recommendations__description {
  margin: 0;

  & br {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .recommendations__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 33px;
  }

  .recommendations__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 49px;
    padding-right: 48px;
    padding-top: 124px;
    width: 157px;
    text-align: center;
    flex-grow: 1;


    &:nth-child(2) {
      width: 162px;
      order: 2;
    }
  }

  .recommendations__title {
    .title(21px; 26px);
  }

  .recommendations__description {
    margin-top: 7px;
  }
}

@media (min-width: @desktop-width) {
  .recommendations__list {
    padding-bottom: 54px;
  }

  .recommendations__item {
    width: 400px;
    box-sizing: border-box;
    padding-left: 58px;
    padding-right: 58px;

    &:nth-child(2) {
      width: 400px;
      box-sizing: border-box;
      padding-left: 75px;
      padding-right: 75px;
    }
  }

  .recommendations__description br {
    display: block;
  }
}
