@grey-blue: #81b3d2;
@grey: #eeeeee;
@white: #ffffff;
@grey-border: #e5e5e5;
@black: #000000;
@black-grey:#333333;
@white-grey: #f2f2f2;
@white-odd: #eaeaea;
@bg-img: #ddebf4;
@menu-active: #766357;
@menu-active-hover: #604e43;
@menu-active-down: rgba(118, 99, 87, 0.3);
@blue-hover: #669ec0;
@blue-active: #5496bd;
@grey-disabled: #e5e5e5;
@grey-player: #5c6870;
@grey-down: rgba(0, 0, 0, 0.3);
@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1200px;
